if devMode
	- var logoImg = 'http://placehold.it/150x75'
	- var homeURL = '#'
	- var aboutURL = '#'
	- var contactURL = '#'
	- var workURL= '#'
else
	- var logoImg = ''
	- var homeUrl = '{{ siteUrl }}'

nav.navigation.full
	.container
		figure.logo
			a(href=homeUrl)
				img(src=logoImg)
		ul.nav-links
			li
				a(href=aboutURL) About
			li
				a(href=contactURL) Contact
			li
				a(href=workURL) Work